<a href="https://colab.research.google.com/github/Rogerio-mack/Analise-de-Dados/blob/main/EDA_T3_Pandas_Kit_Aquisicao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"></a>
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Pandas: Aquisição
***

# Kit para adquirir dados: dados de contas de restaurante

## Import

In [ ]:
import pandas as pd

## Obter os dados

In [ ]:
df = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Exploração Inicial da Estrutura

In [ ]:
len(df)

244

In [ ]:
df.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [ ]:
df.describe(include='all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

## Quantidades dos Valores de um Atributo (Frequencia dos Valores)

In [ ]:
df.day.value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

## Selecionando uma Série de Dados (UMA Coluna)

In [ ]:
df.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [ ]:
df.total_bill.mean()

19.785942622950824

In [ ]:
df.total_bill.var()

79.25293861397826

## Os Top 10: `nlargest()`, `nsmallest()`

In [ ]:
df.tip.nlargest(5)

170    10.00
212     9.00
23      7.58
59      6.73
141     6.70
Name: tip, dtype: float64

In [ ]:
df.tip.nlargest(5).mean()

8.002

## Quartis

In [ ]:
df.total_bill.quantile([0, 0.25, 0.5, 0.75, 1])

0.00     3.0700
0.25    13.3475
0.50    17.7950
0.75    24.1275
1.00    50.8100
Name: total_bill, dtype: float64

In [ ]:
df.total_bill.quantile()

17.795

In [ ]:
df.total_bill.quantile(0.90)

32.23500000000001