<a href="https://colab.research.google.com/github/Rogerio-mack/Analise-de-Dados/blob/main/EDA_T4_Pandas_Kit_Selecao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"></a>
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

<h1 align=left><font size = 6, style="color:rgb(200,0,0)">Dataframes: Seleção de Dados</font></h1>
<hr>

# kit de seleção com dados da carteira do IBOVESPA

http://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-amplos/indice-ibovespa-ibovespa-composicao-da-carteira.htm

In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('http://meusite.mackenzie.br/rogerio/data_load/ibovespa.xlsx')

# Exploração da Estrutura dos Dados

In [2]:
df.head()

  Código        Ação   Tipo  Qtde. Teórica  Part. (%)
0  ALPA4  ALPARGATAS  PN N1      167963777      0.426
1  ABEV3   AMBEV S/A     ON     4358814864      3.135
2  AMER3  AMERICANAS  ON NM      546064815      0.984
3  ASAI3       ASSAI  ON NM      794116430      0.637
4  AZUL4        AZUL  PN N2      327741172      0.505

In [3]:
len(df)

91

In [4]:
df.shape

(91, 5)

In [5]:
df.describe(include='all')

       Código       Ação   Tipo  Qtde. Teórica  Part. (%)
count      91         91     91   9.100000e+01  91.000000
unique     91         87     14            NaN        NaN
top     LWSA3  PETROBRAS  ON NM            NaN        NaN
freq        1          2     54            NaN        NaN
mean      NaN        NaN    NaN   1.002543e+09   1.098901
std       NaN        NaN    NaN   1.207173e+09   1.752412
min       NaN        NaN    NaN   8.574828e+07   0.085000
25%       NaN        NaN    NaN   2.897075e+08   0.301000
50%       NaN        NaN    NaN   5.921146e+08   0.586000
75%       NaN        NaN    NaN   1.154481e+09   1.159500
max       NaN        NaN    NaN   6.079531e+09  13.912000

In [6]:
df.Tipo.value_counts()

ON NM        54
PN N1        10
UNT N2        6
PN N2         4
ON            3
PNB N1        2
PNA N1        2
ON N2         2
ON EJ NM      2
ON N1         2
ON ED NM      1
ON EDJ NM     1
ON EB NM      1
UNT           1
Name: Tipo, dtype: int64

In [7]:
df.nlargest(5,'Part. (%)')

   Código          Ação   Tipo  Qtde. Teórica  Part. (%)
87  VALE3          VALE  ON NM     3380233503     13.912
51  ITUB4  ITAUUNIBANCO  PN N1     4780002924      6.062
68  PETR4     PETROBRAS  PN N2     4566511125      5.170
12  BBDC4      BRADESCO  PN N1     4691427537      4.357
67  PETR3     PETROBRAS  ON N2     3426385188      3.999

# Seleção de Colunas

In [8]:
df.columns

Index(['Código', 'Ação', 'Tipo', 'Qtde. Teórica', 'Part. (%)'], dtype='object')

## Uma coluna em `Serie`: `df.coluna` ou `df[ 'coluna' ]`

In [9]:
df.Tipo

0      PN N1
1         ON
2      ON NM
3      ON NM
4      PN N2
       ...
86    PNA N1
87     ON NM
88     ON NM
89     ON NM
90     ON NM
Name: Tipo, Length: 91, dtype: object

In [10]:
df['Tipo']

0      PN N1
1         ON
2      ON NM
3      ON NM
4      PN N2
       ...
86    PNA N1
87     ON NM
88     ON NM
89     ON NM
90     ON NM
Name: Tipo, Length: 91, dtype: object

In [12]:
df['Part. (%)']

0      0.426
1      3.135
2      0.984
3      0.637
4      0.505
       ...
86     0.353
87    13.912
88     0.632
89     2.558
90     0.326
Name: Part. (%), Length: 91, dtype: float64

In [13]:
df['Part. (%)'].sum() # max(), min(), var(), ...

100.0

In [16]:
df.Tipo.value_counts()

ON NM        54
PN N1        10
UNT N2        6
PN N2         4
ON            3
PNB N1        2
PNA N1        2
ON N2         2
ON EJ NM      2
ON N1         2
ON ED NM      1
ON EDJ NM     1
ON EB NM      1
UNT           1
Name: Tipo, dtype: int64

## Mais que uma coluna `DataFrame`: `df[ ['coluna1','coluna2',... ] ]`

In [17]:
df.columns

Index(['Código', 'Ação', 'Tipo', 'Qtde. Teórica', 'Part. (%)'], dtype='object')

In [18]:
df[ ['Código', 'Ação', 'Part. (%)'] ]

   Código        Ação  Part. (%)
0   ALPA4  ALPARGATAS      0.426
1   ABEV3   AMBEV S/A      3.135
2   AMER3  AMERICANAS      0.984
3   ASAI3       ASSAI      0.637
4   AZUL4        AZUL      0.505
..    ...         ...        ...
86  USIM5    USIMINAS      0.353
87  VALE3        VALE     13.912
88  VIIA3         VIA      0.632
89  WEGE3         WEG      2.558
90  YDUQ3  YDUQS PART      0.326

[91 rows x 3 columns]

In [22]:
df_resumo = df[ ['Código', 'Ação', 'Part. (%)'] ]

df_resumo.head()

  Código        Ação  Part. (%)
0  ALPA4  ALPARGATAS      0.426
1  ABEV3   AMBEV S/A      3.135
2  AMER3  AMERICANAS      0.984
3  ASAI3       ASSAI      0.637
4  AZUL4        AZUL      0.505

In [20]:
len(df_resumo)

91

## `df[ ['coluna'] ]` é igual a `df[ 'coluna' ]` ?

In [28]:
df[ 'Tipo' ]

0      PN N1
1         ON
2      ON NM
3      ON NM
4      PN N2
       ...
86    PNA N1
87     ON NM
88     ON NM
89     ON NM
90     ON NM
Name: Tipo, Length: 91, dtype: object

In [30]:
df[ ['Tipo'] ]

      Tipo
0    PN N1
1       ON
2    ON NM
3    ON NM
4    PN N2
..     ...
86  PNA N1
87   ON NM
88   ON NM
89   ON NM
90   ON NM

[91 rows x 1 columns]

In [ ]:
df[ ['Tipo'] ].info()

In [31]:
df['Part. (%)'].sum()

100.0

In [32]:
df[['Part. (%)']].sum()

Part. (%)    100.0
dtype: float64

# Selecionando Linhas: `df[ <criterio> ]` ( `df[ df.tipo_sangue == 'A+' ]` )

In [33]:
df.head()

  Código        Ação   Tipo  Qtde. Teórica  Part. (%)
0  ALPA4  ALPARGATAS  PN N1      167963777      0.426
1  ABEV3   AMBEV S/A     ON     4358814864      3.135
2  AMER3  AMERICANAS  ON NM      546064815      0.984
3  ASAI3       ASSAI  ON NM      794116430      0.637
4  AZUL4        AZUL  PN N2      327741172      0.505

In [35]:
df[ df.Tipo == 'ON NM' ]

   Código          Ação   Tipo  Qtde. Teórica  Part. (%)
2   AMER3    AMERICANAS  ON NM      546064815      0.984
3   ASAI3         ASSAI  ON NM      794116430      0.637
5   B3SA3            B3  ON NM     6079530858      3.758
9   BBSE3  BBSEGURIDADE  ON NM      671629692      0.577
10  BRML3  BR MALLS PAR  ON NM      843728684      0.322
16  BRFS3        BRF SA  ON NM      811759800      0.848
18  CRFB3  CARREFOUR BR  ON NM      410988561      0.336
19  CCRO3        CCR SA  ON NM     1115693556      0.574
21  HGTX3    CIA HERING  ON NM      117608748      0.187
22  CIEL3         CIELO  ON NM     1144359228      0.122
23  COGN3      COGNA ON  ON NM     1847994874      0.257
25  CSAN3         COSAN  ON NM     1169237744      1.202
26  CPFE3  CPFL ENERGIA  ON NM      187732538      0.229
27  CVCB3    CVC BRASIL  ON NM      224571661      0.212
28  CYRE3  CYRELA REALT  ON NM      281609283      0.243
29  DXCO3         DEXCO  ON NM      272062873      0.221
30  ECOR3   ECORODOVIAS  ON NM      339237914      0.147
33  EMBR3       EMBRAER  ON NM      734558205      0.685
34  ENBR3   ENERGIAS BR  ON NM      231489471      0.184
36  ENEV3         ENEVA  ON NM     1261568398      0.934
37  EGIE3  ENGIE BRASIL  ON NM      255217329      0.439
38  EQTL3    EQUATORIAL  ON NM     1010511085      1.117
39  EZTC3         EZTEC  ON NM      101618236      0.116
40  FLRY3        FLEURY  ON NM      303005900      0.322
44  NTCO3  GRUPO NATURA  ON NM      843870809      1.844
45  HAPV3       HAPVIDA  ON NM     1306939210      0.871
46  HYPE3        HYPERA  ON NM      411803359      0.627
47  IGTA3      IGUATEMI  ON NM       85748277      0.123
48  GNDI3   INTERMEDICA  ON NM      592114608      2.194
49  IRBR3  IRBBRASIL RE  ON NM     1255286531      0.297
52  JBSS3           JBS  ON NM     1346828080      1.961
53  JHSF3     JHSF PART  ON NM      305915142      0.085
55  RENT3      LOCALIZA  ON NM      593944309      1.507
56  LCAM3    LOCAMERICA  ON NM      324522975      0.369
57  LWSA3       LOCAWEB  ON NM      431783548      0.478
59  LREN3  LOJAS RENNER  ON NM      889725318      1.455
60  MGLU3   MAGAZ LUIZA  ON NM     2820185158      2.101
63  BEEF3       MINERVA  ON NM      242962308      0.100
64  MRVE3           MRV  ON NM      294643879      0.181
66  PCAR3  P.ACUCAR-CBD  ON NM      156946474      0.192
70  PRIO3      PETRORIO  ON NM      839159130      0.721
71  PETZ3          PETZ  ON NM      258407844      0.305
72  QUAL3     QUALICORP  ON NM      283670037      0.290
73  RADL3  RAIADROGASIL  ON NM     1071076905      1.218
75  RAIL3     RUMO S.A.  ON NM     1216056103      0.980
76  SBSP3        SABESP  ON NM      340001934      0.522
80  SUZB3   SUZANO S.A.  ON NM      726779281      1.909
83  TIMS3           TIM  ON NM      808619532      0.431
84  TOTS3         TOTVS  ON NM      480960677      0.811
85  UGPA3      ULTRAPAR  ON NM     1084337016      0.688
87  VALE3          VALE  ON NM     3380233503     13.912
88  VIIA3           VIA  ON NM     1595895585      0.632
89  WEGE3           WEG  ON NM     1484859030      2.558
90  YDUQ3    YDUQS PART  ON NM      300833122      0.326

In [40]:
df_ONNM = df[ df.Tipo == 'ON NM' ]

df_ONNM.head()

   Código          Ação   Tipo  Qtde. Teórica  Part. (%)
2   AMER3    AMERICANAS  ON NM      546064815      0.984
3   ASAI3         ASSAI  ON NM      794116430      0.637
5   B3SA3            B3  ON NM     6079530858      3.758
9   BBSE3  BBSEGURIDADE  ON NM      671629692      0.577
10  BRML3  BR MALLS PAR  ON NM      843728684      0.322

In [41]:
df[ df.Tipo == 'ON NM' ].head()

   Código          Ação   Tipo  Qtde. Teórica  Part. (%)
2   AMER3    AMERICANAS  ON NM      546064815      0.984
3   ASAI3         ASSAI  ON NM      794116430      0.637
5   B3SA3            B3  ON NM     6079530858      3.758
9   BBSE3  BBSEGURIDADE  ON NM      671629692      0.577
10  BRML3  BR MALLS PAR  ON NM      843728684      0.322

In [42]:
len(df_ONNM)

54

In [43]:
len( df[ df.Tipo == 'ON NM' ] )

54

## Percentual de linhas

In [44]:
len( df[ df.Tipo == 'ON NM' ] )

54

In [45]:
len( df )

91

In [46]:
len( df[ df.Tipo == 'ON NM' ] )  /  len( df )

0.5934065934065934

## Selecionando Linhas e Colunas: `df[ <criterio> ][ <colunas> ]`

In [53]:
df[ (df.Tipo == 'ON NM') & (df['Part. (%)'] > 2) ][['Código', 'Ação', 'Part. (%)']]

   Código         Ação  Part. (%)
5   B3SA3           B3      3.758
48  GNDI3  INTERMEDICA      2.194
60  MGLU3  MAGAZ LUIZA      2.101
87  VALE3         VALE     13.912
89  WEGE3          WEG      2.558

In [54]:
df[ (df.Tipo == 'ON NM') & (df['Part. (%)'] > 2) ]['Tipo']

5     ON NM
48    ON NM
60    ON NM
87    ON NM
89    ON NM
Name: Tipo, dtype: object

In [55]:
df[ (df.Tipo == 'ON NM') & (df['Part. (%)'] > 2) ].Tipo

5     ON NM
48    ON NM
60    ON NM
87    ON NM
89    ON NM
Name: Tipo, dtype: object