<a href="https://colab.research.google.com/github/Rogerio-mack/Analise-de-Dados/blob/main/Python_Cheat_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"></a>
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Python Cheat Sheet


## Referência rápida
> https://www.w3schools.com/ <br> 

## Documentação
> https://www.python.org/ <br>
> https://docs.python.org/3/tutorial/index.html <br>

## Print & Input

In [ ]:
# Print & Input...
text = input('Entre com um texto: ')
numero = float(input('Entre com um número: '))

print('Seu texto: ', text, '\n', 'Seu número: ', numero)

Entre com um texto: oi
Entre com um número: 2
Seu texto:  oi
 Seu número:  2.0

## Integer, Float-point, Boolean

In [ ]:
"""
String, Integer, Float-point, Boolean

"""
print(3 * 4, 3 + 4, 3 - 4, 3 / 4, 3.14, 4.2e-4 ) 
print(type(3 * 4), type(3.14), type(4.2e-4) ) 
print(3 ** 2, 3 // 4, 3 % 4 ) 
print(4 > 3, 4 >= 3, 3 == 3.0, 3 != 4, 3 <= 4 )
print(1 < 2 < 9) # boolean

## Math functions

In [ ]:
import math as ma              
# also in math module: pi, exp, log, sin, cos, tan, ceil, floor, and more

print(math.pi)            # pi 
print(math.exp(1))        # e

3.141592653589793
2.718281828459045

## Strings

In [ ]:
text = 'Beatles'
print(text)

# String are immutable
# text[0] = 'T' # TypeError: 'str' object does not support item assignment

tex2 = '012345'
print(text[0:1])      # B
print(text[0:2])      # Be
print(tex2[0:2])      # 01
print(text[1:3])      # ea
print(tex2[1:3])      # 12

# print(text[<inicio>, <inicio>+<quantidade>])
# print(text[<inicio>, <fim>+1])

Beatles
B
Be
01
ea
12

#### String Operations

In [ ]:
str1 ='A arte existe porque a vida não basta. – Ferreira Gullar'

print(str1.find('arte'))
print(str1.lower())
str2 = str1.replace('arte','life')
print(str2)

print(str(4.2e-4)) 

str1 = 'love'
str2 = 'hate'
print(str1 is str2) 
str1 = str2
print(str1 == str2)
print(str1 is str2) # e por isso imutável

2
a arte existe porque a vida não basta. – ferreira gullar
A life existe porque a vida não basta. – Ferreira Gullar
0.00042
False
True
True

## Lists

Lista (**list**) é uma coleção que é ordenada e mutável. Permite membros duplicados.

In [ ]:
mylist = ['A', 'B', 'C', 'A', 'B']

mylist.count('B')

mylist.index('B')
mylist.index('B', 2)  

mylist.append('D')

mylist.sort()
mylist.pop()
mylist.insert(1,'X') 

del mylist[0:1] # o mesmo que del fruits[0]
mylist.remove('B') # somente o primeiro elemento

mylist[1] = 'ZZ'

mylist = [[1,2,3], [11,22,33], [9,9,9]]
print(mylist[1])  # [11,22,33]
print(mylist[1][0])  # 11

mylist = ['A', 'B', 'C', 'A', 'B']

mylist1 = mylist            # NÃO USE
mylist2 = mylist.copy()     # USE
mylist.remove('B')
print(mylist1) # ['A', 'C', 'A', 'B']
print(mylist2) # ['A', 'B', 'C', 'A', 'B']

print('A' in mylist)

[11, 22, 33]
11
['A', 'C', 'A', 'B']
['A', 'B', 'C', 'A', 'B']
True

## Percorrendo uma lista

In [ ]:
mylist = ['A', 'B', 'C', 'A', 'B']
 
for i in range(len(mylist)):
    print(mylist[i])

for item in mylist:
    print(item)

A
B
C
A
B
A
B
C
A
B

## Tuples

Tupla (**tuple**) é uma coleção que é ordenada e imutável. Permite membros duplicados. No mais para nossos propósito Listas e Tuplas são bastante semelhantes

In [ ]:
mytuple = ('A', 'B', 'C', 'A', 'B')

mytuple.count('B')
# mytuple[1] = 'X' # TypeError: 'tuple' object does not support item assignment

print('A' in mytuple)

True

## Sets

- Conjunto (**set**) é uma coleção não ordenada e não indexada. Nenhum membro duplicado. Para **Sets** são implementadas a funções conhecidas de conjuntos como união, intersecção etc.

In [ ]:
myset = {'A', 'B', 'C', 'A', 'B'}

print(myset) # {'C', 'A', 'B'}

print('A' in myset)

{'C', 'A', 'B'}
True

## Dictionary

Dicionário (**dictionary**) é uma coleção desordenada, mutável e indexada. Nenhum membro duplicado. Você já teve algum contato com uma estrutura de dados `JSON` essa uma estrutura bastante semelhante em Python.

In [ ]:
mydict = {'A':2,'B':2,'C':1} 
  
print(mydict.keys())

print(mydict['B'])   
print(mydict.get('B'))  

for item in mydict:
    print(item, mydict[item])
    
if 'X' not in mydict.keys():      # Se não está no dicionário acrescenta
  mydict['X'] = 1
print(mydict)

dict_keys(['A', 'B', 'C'])
2
2
A 2
B 2
C 1
{'A': 2, 'B': 2, 'C': 1, 'X': 0}

## If-Then-Else

In [ ]:
a = 1964
b = 1984
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

## For & While

In [ ]:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

for i in range(5): 
  print(i)
  if i == 3:
    break

for i in [12,18,84]:
    print(i)

1
2
3
0
1
2
3
12
18
84

## Funções

In [ ]:

def mymax(a,b):
  if a > b:
    return a
  else:
    return b

mymax(1984,1964)

1984

## File Handling

In [ ]:
note = ['This is a note'] 

f = open("note.txt", "w") 
for line in note:
    f.write(line)
f.close()

f = open("note.txt", "r")
for line in f:
    print(line)

This is a note

### Acesso dados Web

In [ ]:
import urllib.request  

data = urllib.request.urlopen('http://meusite.mackenzie.br/rogerio/TIC/PlayBallcsv.csv')

for line in data:
    print(line.decode('utf-8'))

Day,Outlook,Temperature,Humidity,Wind,Play ball

D1,Sunny,Hot,High,Weak,No

D2,Sunny,Hot,High,Strong,No

D3,Overcast,Hot,High,Weak,Yes

D4,Rain,Mild,High,Weak,Yes

D5,Rain,Cool,Normal,Weak,Yes

D6,Rain,Cool,Normal,Strong,No

D7,Overcast,Cool,Normal,Strong,Yes

D8,Sunny,Mild,High,Weak,No

D9,Sunny,Cool,Normal,Weak,Yes

D10,Rain,Mild,Normal,Weak,Yes

D11,Sunny,Mild,Normal,Strong,Yes

D12,Overcast,Mild,High,Strong,Yes

D13,Overcast,Hot,Normal,Weak,Yes

D14,Rain,Mild,High,Strong,No

## Basic imports

In [ ]:
import math
print(dir(math))
help(math.pow)
import numpy as np
import pandas as pd 
import os          
os.getcwd()

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
Help on built-in function pow in module math:

pow(...)
    pow(x, y)

    Return x**y (x to the power of y).

'/content'

## Numpy & `Seed`

In [ ]:
import numpy as np

x = np.array([1,2,3])
x_list = x.tolist()

x = x * 2 + 1
# x_list = x_list * 2 + 1 # TypeError: can only concatenate list (not "int") to list

np.random.seed(1984) # semente de geração aleatória
x = np.array(np.random.randint(low=1, high=6, size=10))
print(x)

x = np.array([1,2,3])
np.mean(x)
np.sum(x)

x = np.insert(x,len(x),4) # Note: NÂO FAZ INPLACE
x = np.delete(x,len(x)-1) # Note: NÂO FAZ INPLACE
x = np.append(x,[4,5,6])
x[0] = 9 
x

[5 4 2 1 1 3 3 2 3 1]

array([9, 2, 3, 4, 5, 6])